<nav class="navbar navbar-expand-lg" style="background-color: #000000; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
  <div class="container">
    <!-- Logo DevOps noir et vert avec ajustement -->
    <a class="navbar-brand d-flex align-items-center fw-bold text-light" href="#">
      
      <span style="font-size: 1.5rem;">Projet Foyer </span> <!-- Titre du projet -->
    </a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-start" id="navbarNav"> <!-- Alignement à droite -->
      <ul class="navbar-nav">
       
        <li class="nav-item">
          <a class="nav-link text-light fw-bold" routerLink="/chambres" routerLinkActive="active" style="color: #76C7B7;">Chambres</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
